html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F0E6;
}

header {
    flex: 0;
    width: 100%;
}

h1 {
    text-align: center;
    background-color: #F4F0E6;
    margin: 0;
    padding: 0 0;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sidenav {
    flex-shrink: 0;
    height: 100%;
    width: 85px;   
    background-color: #F4F0E6;
}

.sidenav > * {
    text-decoration: none;
    display: block;
    margin: 8px 24px 8px 16px;
}

input {
    padding: 0;
}

#etcharea {
    flex: 1;
    background-color: whitesmoke;
    margin: 2%;
    border: solid black;
    display: flex;
    flex-direction: column;
}

#etcharea > div > div {
    border: black solid 1px;
    width: 100%;
    height: 100%;
    user-select: none;
}

.column {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

footer {
    flex: 0;
    background-color: #F4F0E6;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}